# ====================================
# === Infrastructure Configuration ===
# ====================================

# Defines the prefix for networks and volumes
COMPOSE_PROJECT_NAME=dagster_questdb_boilerplate

# ================================
# === Dagster Resource Configuration ===
# ================================

LATITUDE=
LONGITUDE=

QDB_HOST=localhost
QDB_PORT=9000

# =============================
# === QuestDB Configuration ===
# =============================

QDB_TELEMETRY_ENABLED=false
QDB_PG_USER=
QDB_PG_PASSWORD=
QDB_PG_READONLY_USER_ENABLED=true
QDB_PG_READONLY_USER=
QDB_PG_READONLY_PASSWORD=